$primary: #f9b6db; 

$onPrimary: #5b3168; 

$primaryContainer: #7a428a; 

$onPrimaryContainer: #f587c4; 

$secondary: #efc1e6; 

$onSecondary: #5e385d; 

$secondaryContainer: #5e385d; 

$onSecondaryContainer: #efc1e6; 

$tertiary: #f9b6ba; 

$onTertiary: #683159; 

$tertiaryContainer: #f5878d; 

$onTertiaryContainer: #f5878d; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #0B1423; 

$background: #0B1423; 

$onBackground: #7fe2e8; 

$surface: #0B1423; 

$onSurface: #7fe2e8; 

$surfaceVariant: #62509D; 

$onSurfaceVariant: #7fe2e8; 

$outline: #7fe2e8; 

$shadow: #000000; 

$inverseSurface: #f4ebdc; 

$inverseOnSurface: #801d17; 

$inversePrimary: #064924; 

$darkmode: true;
